# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.gitconfig

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

.DS_Store

# IDEs and Editors
.idea/
.vscode/
logs/

# Vendored Dependencies
vendor/

bin/
docs/
.env
